.nms-cart {
	color: white;
	background-color: #529674;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.nms-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.nms-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
	align-self: flex-end;
}

.nms-cart-closed {
	padding: 32px;
	width: 100px;
}

.nms-cart-closed > button {
	color: black;
}

.nms-cart-title{
	font-size: 1.3rem;
}

.nms-cart-item{
	font-size: 0.8rem;
	margin-left: -10px;
	list-style-type: disc;
}